[submodule "checkupdates"]
	path = checkupdates
	url = git@github.com:xzy-nine-common/checkupdata-android.git
[submodule "webdav"]
	path = webdav
	url = git@github.com:xzy-nine-common/WebDAV-Android.git
