[submodule "checkupdates"]
	path = checkupdates
	url = https://github.com/xzy-nine-common/checkupdata-android.git
[submodule "webdav"]
	path = webdav
	url = https://github.com/xzy-nine-common/WebDAV-Android.git
